/* 2020-3-24 08:23:56 | 鐗堟潈鎵€鏈� 鐏槦绉戞妧 http://marsgis.cn */
.navbar {
    font-size: 16px
}

.main-header .navbar-brand {
    padding-top: 0;
    padding-right: 5px
}

#logo {
    height: 35px
}

.navbar .project-title {
    text-decoration: none;
    vertical-align: middle;
    font-size: 24px;
    color: #fff;
    letter-spacing: -.16px
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0 !important;
    background-color: #1c606a;
    border: 0;
    border-radius: 0
}

.navbar #headerMenu {
    text-align: center;
    margin: 7.5px -15px
}

    .navbar #headerMenu > li > a {
        font-family: HiraginoSansGB-W6;
        font-size: 16px;
        color: #fff;
        letter-spacing: -.1px;
        text-decoration: none;
        padding: 4px 9px;
        border: solid 2px transparent;
        border-radius: 4px;
        margin-right: 0;
        line-height: 20px
    }

        .navbar #headerMenu > li > a:hover {
            background-color: #4e97d9
        }

    .navbar #headerMenu > .open > a {
        background-color: #4e97d9
    }

.nav_apis_box_li > li:hover {
    color: #fff;
    background-color: #09c
}

.nav_apis_box_li > li {
    text-align: center;
    font-size: 14px;
    height: 30px;
    color: #7c7c7c;
    border-bottom: 1px solid #e7e7e7;
    line-height: 30px;
    cursor: pointer;
    font-weight: 700
}

#title {
    font-size: 24px;
    color: #fff
}

#suffix-title {
    font-size: 16px;
    color: #fff;
    height: 52px;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left
}

.main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 17px;
    font-family: fontAwesome
}

    .main-header .sidebar-toggle:before {
        content: "\f03b"
    }

.skin-blue .main-header .navbar .nav .open > a, .skin-blue .main-header .navbar .nav .open > a:focus, .skin-blue .main-header .navbar .nav .open > a:hover, .skin-blue .main-header .navbar .nav > .active > a, .skin-blue .main-header .navbar .nav > li > a:active, .skin-blue .main-header .navbar .nav > li > a:focus, .skin-blue .main-header .navbar .nav > li > a:hover {
    background: #1c606a
}

.skin-blue .main-header .navbar .nav > li > a:hover {
    background: rgba(0,0,0,.1)
}

.navbar-toggle {
    height: 50px
}

.navbar.default .navbar-title {
    height: 100%;
    width: 450px
}

.navbar.lite .navbar-title {
    height: 100%;
    width: auto
}

.navbar ul {
    list-style: none outside none;
    padding: 0
}

.navbar-nav > li {
    height: 50px;
    display: table
}

    .navbar-nav > li > a {
        display: table-cell;
        vertical-align: middle
    }

.navbar-menu .menu-sub-warp {
    max-height: 0
}

.navbar-menu.active .menu-sub-warp, .navbar-menu:hover .menu-sub-warp {
    max-height: 600px;
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transition: all .5s ease-out .2s;
    -webkit-transition: all .5s ease-out .2s;
    -moz-transition: all .5s ease-out .2s
}

.lang-option {
    cursor: pointer;
    z-index: -1
}

.menu-box {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50px
}

    .menu-box .menu-sub-warp {
        width: 100%;
        margin: 0 auto;
        overflow: auto;
        text-align: center;
        line-height: normal;
        color: #fff;
        background-color: rgba(0,0,0,.9)
    }

        .menu-box .menu-sub-warp::-webkit-scrollbar {
            width: 3px
        }

        .menu-box .menu-sub-warp::-webkit-scrollbar-thumb {
            border-radius: 12px;
            background: rgba(0,0,0,.8)
        }

.navbar-nav > li > a {
    padding-bottom: 17px
}

.navbar-nav > .nav-dropdown-menu > .dropdown-menu {
    border: 0
}

    .navbar-nav > .nav-dropdown-menu > .dropdown-menu > li > a {
        color: #f8f8f8;
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #1c606a
    }

    .navbar-nav > .nav-dropdown-menu > .dropdown-menu > li:hover > a {
        background-color: rgba(0,0,0,.1)
    }

.navbar-nav > li > a {
    padding-bottom: 17px
}

.skin-blue .main-header .navbar .nav .open > a, .skin-blue .main-header .navbar .nav .open > a:focus, .skin-blue .main-header .navbar .nav .open > a:hover, .skin-blue .main-header .navbar .nav > .active > a, .skin-blue .main-header .navbar .nav > li > a:active, .skin-blue .main-header .navbar .nav > li > a:focus, .skin-blue .main-header .navbar .nav > li > a:hover {
    background: #1c606a
}

.skin-blue .main-header .navbar .nav > li > a:hover {
    background: rgba(0,0,0,.1)
}

@media screen and (max-width:992px) {
    .navbar-brand {
        padding-left: 8px !important
    }



    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
        border: 0;
        border-top: 1px solid #f9f9f9;
        background: #1c606a
    }

        .navbar-custom-menu > .navbar-nav > li > .dropdown-menu > li {
            position: relative;
            right: 0;
            left: auto;
            border: 0;
            background: #1c606a
        }

    .skin-blue .main-header .navbar .dropdown-menu > li > a {
        color: #fff
    }

    .navbar-header {
        float: none
    }

    .navbar-toggle {
        display: block;
        float: right
    }

    .navbar-collapse.collapse {
        display: none !important
    }

    .navbar-nav > li {
        float: none
    }

    .collapse.in {
        display: block !important
    }
}

@media screen and (max-width:768px) {
    .navbar-nav > li > .dropdown-menu {
        margin-top: 0 !important
    }

    .navbar-brand {
        padding: 15px 0
    }

    #suffix-title {
        font-size: 14px
    }

    #title {
        font-size: 20px
    }

    .navbar-brand {
        padding-right: 10px !important
    }

    .navbar-toggle {
        padding-left: 10px;
        padding-top: 18px
    }
}

@media screen and (max-width:510px) {
    #logo {
        width: 25px;
        height: 25px
    }

    #suffix-title {
        padding-left: 5px;
        font-size: 12px;
        padding-top: 17px;
        padding-bottom: 15px
    }

    #title {
        font-size: 15px
    }

    .navbar-custom-menu .navbar-nav > li > a {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px
    }

    .skin-blue .main-header .navbar .nav > li > a {
        font-size: 15px
    }
}

@media screen and (max-width:410px) {
    #logo {
        width: 20px;
        height: 20px
    }

    #suffix-title {
        font-size: 8px
    }

    #title {
        font-size: 11px
    }

    .navbar-toggle {
        padding-left: 10px;
        padding-right: 10px
    }

    .navbar-custom-menu .navbar-nav > li > a {
        padding-left: 10px;
        padding-right: 10px
    }

    .skin-blue .main-header .navbar .nav > li > a {
        font-size: 13px
    }
}

@media screen and (max-width:350px) {
    .navbar-toggle {
        padding-left: 3px;
        padding-right: 6px
    }
}

body, html {
    scrollbar-base-color: #f4f7fc;
    scrollbar-track-color: #f4f7fc;
    scrollbar-face-color: #797979;
    scrollbar-arrow-color: #f4f7fc;
    scrollbar-shadow-color: #f4f7fc;
    scrollbar-3dlight-color: #f4f7fc;
    scrollbar-highlight-color: #f4f7fc;
    scrollbar-darkshadow-color: #f4f7fc
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
    display: none
}

::-webkit-scrollbar-track {
    background: 0 0
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    border: 0
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: 0 0;
    border-radius: 5px
}

::-webkit-scrollbar-thumb {
    padding-top: 100px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset -1px -1px 0 rgba(0,0,0,.07);
    background-color: #797979;
    min-height: 28px;
    border-radius: 4px;
    background-clip: padding-box
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    border: 0
}

    ::-webkit-scrollbar-thumb:hover {
        -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.25);
        background-color: rgba(0,0,0,.4)
    }

    ::-webkit-scrollbar-thumb:active {
        -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.35);
        background-color: rgba(0,0,0,.5)
    }


.navbar-nav li a:hover, .navbar-nav li a:focus {
    background-color: #19565f !important;
}

.navbar-custom-menu {
    border-top-color: rgb(51, 51, 51);
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block !important;
    float: right;
    font-family: "Helvetica Neue", Helvetica, Arial, "Heiti SC", "Microsoft Yahei", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 52px;
    line-height: 22.8571px;
    margin-bottom: 0px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 0px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-size-adjust: 100%;
    width: 288px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    color: #fff;
}

    .navbar-custom-menu .navbar-nav {
        position: absolute;
        float: right;
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        display: block;
        font-family: "Helvetica Neue", Helvetica, Arial, "Heiti SC", "Microsoft Yahei", sans-serif;
        font-size: 16px;
        font-weight: 400;
        height: 52px;
        line-height: 22.8571px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        margin-block-end: 0px;
        margin-block-start: 0px;
        margin-bottom: 0px;
        margin-inline-end: 0px;
        margin-inline-start: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-inline-start: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-size-adjust: 100%;
        width: 298px;
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

        .navbar-custom-menu .navbar-nav .overview-menu {
            box-sizing: border-box;
            color: rgb(51, 51, 51);
            display: table;
            float: left;
            font-family: "Helvetica Neue", Helvetica, Arial, "Heiti SC", "Microsoft Yahei", sans-serif;
            font-size: 16px;
            font-weight: 400;
            height: 52px;
            line-height: 22.8571px;
            list-style-image: none;
            list-style-position: outside;
            list-style-type: none;
            position: relative;
            text-align: left;
            text-size-adjust: 100%;
            width: 62px;
            -webkit-font-smoothing: antialiased;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        .navbar-custom-menu .navbar-nav .nav-dropdown-menu {
            box-sizing: border-box;
            color: rgb(51, 51, 51);
            display: table;
            float: left;
            font-family: "Helvetica Neue", Helvetica, Arial, "Heiti SC", "Microsoft Yahei", sans-serif;
            font-size: 16px;
            font-weight: 400;
            height: 52px;
            line-height: 22.8571px;
            list-style-image: none;
            list-style-position: outside;
            list-style-type: none;
            position: relative;
            text-align: left;
            text-size-adjust: 100%;
            width: 108px;
            -webkit-font-smoothing: antialiased;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

            .navbar-custom-menu .navbar-nav .overview-menu *, .navbar-custom-menu .navbar-nav .nav-dropdown-menu * {
                color: #fff;
            }



.navbar {
    margin: 0px;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.main-header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-brand {
    height: 48px;
    line-height: 48px;
    padding: 0;
}

.navbar-header {
    margin-left: 16px;
}
