/node_modules
/docs/.vuepress/dist
/packages/vue2ol/lib
/packages/vue2ol-extend/lib
/packages/utilsol/node_modules
/packages/utilsol/lib
/dist
/packages/vue2ol/node_modules
/packages/vue2ol-extend/node_modules
/packages/geojson2shp/node_modules
/packages/utilsol/docs/api
/packages/vue2ol/docs/components
/packages/vue2ol-extend/docs/components
/packages/utilscesium/build
/packages/utilscesium/dist
