<!--头部导航-->
<header class="header-wrapper main-header icl-header">

    <nav class="navbar navbar-static-top">

        <div class="nav-header">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                    <span class="dinlineblock width55 mr10">
                        <img class="project-logo" src="template/logo.png" style="visibility: visible" id="logo">
                    </span>
                    <span class="project-title vm" id="title">
                        utilscesium
                        <span id="lblVersion" style="vertical-align: super; font-size: 14px; color: #fff; margin-left: 5px">
                        </span>
                    </span>
                </a>
                <div id="suffix-title"></div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"><i class="fa fa-bars"></i></button>
            </div>
            <div class="collapse navbar-collapse navbar-custom-menu" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="overview-menu" id="headerIndex"><a href="" class="center">Docs</a></li>
                    <li class="overview-menu" id="headerIndex"><a href="../examples/index.html" class="center">Examples</a></li>
                    <li class="overview-menu" id="headerIndex"><a href="../apidoc/index.html" class="center">API</a></li>


                    <li class="dropdown nav-dropdown-menu guide-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">技术专题 <i class="fa fa-sort-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.w3school.com.cn/jsref/jsref_obj_array.asp">w3cschool</a></li>

                        </ul>
                    </li>
                    <li class="overview-menu" id="headerIndex">
                        <a href="buy.html" class="center">个人博客</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
<!--头部导航 end-->
<!-- 侧边栏 -->
<aside class="sidebar-wrapper main-sidebar" style="height: 100%; overflow: auto;">
    <section class="sidebar" id="sidebar">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" title="fold">
            <div class="fa  fa-bars fold"></div>
        </a>
        <ul class="sidebar-menu" id="sidebar-menu"></ul>
    </section>

</aside>
<!-- 侧边栏 end-->
<!-- 内容区 -->
<div class="content-wrapper edit-container">

    <section class="content">
        <span class="fa  fa-compress" id="showCodeBtn">&nbsp;源码</span>
        <div class="pane" id="codePane" style="display: none">
            <div class="codePaneTool">
                CoderEditor
                <div class="fa fa-play-circle-o editorBtn" id="runBtn" onclick="run()">&nbsp;运行</div>
                <div class="fa fa-undo editorBtn" id="resetBtn" onclick="refresh()">&nbsp;重载</div>
            </div>
            <div id="editor">

            </div>
        </div>
        <div class="col-md-12 pane" id="previewPane">
        </div>
    </section>

</div>
<!-- 内容区 end-->
